{% extends "newd/_layout_noad" %}
{% set title ="الصفحة غير موجودة : 404" %}

{% block content %}
<div class="site-inner"><div class="wrap">
<div class="content-sidebar-wrap">
<main class="content">
<article class="post- type-post status-publish format-standard entry has-post-thumbnail">
<header class="entry-header"><h1 class="entry-title">الصفحة غير موجودة : 404</h1>
</header>

</article></main></div></div></div>

{% endblock %}

{% block script %}

{% endblock %}