{% extends "fields/_field" %}

{% block content %}
    <div class="list-group">
        {% for matrixBlock in value %}
            <div class="matrix-block {{ matrixBlock.type.handle }} list-group-item">
                {% for matrixField in field.visibleFields(matrixBlock) %}
                    {{ matrixField.render(matrixBlock[matrixField.handle])|raw }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}