{% set type = type ?? 'primary' %}
{% set dismissable = dismissable ?? true %}
{% set show = show ?? true %}
{% set body = (body ?? block('body') ?? '')|trim %}

<div class="alert alert-{{ type }}{{ dismissable ? ' alert-dismissible' : '' }}{{ show ? ' show' : '' }} fade" role="alert">
    {{ body }}
    {% if dismissable %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    {% endif %}
</div>