{% extends "blocks/block" %}

{% block content %}
    <nav class="navbar navbar-expand p-0">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Conditions</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}