{% extends "fields/_field" %}
{% import "_includes/macros" as macros %}

{% block content %}
    <ul class="list-group">
        {% for category in value %}
            <div class="list-group-item">
                {{ macros.renderLayout(category.group.layout, options.viewMode, category) }}
            </div>
        {% endfor %}
    </ul>
{% endblock %}