{% extends "fields/_field" %}
{% import "_includes/macros" as macros %}

{% block content %}
    <ul class="list-group">
        {% for entry in value %}
            <div class="list-group-item">
                {{ macros.renderLayout(entry.type.layout, options.getViewMode(entry), entry) }}
            </div>
        {% endfor %}
    </ul>
{% endblock %}