{% extends 'watsabplusgold/newd/_layout' %}
{% set title ="Page not found."|t %}
{%set disableCategorisAds=1%}
{% block content %}
<div class="site-inner"><div class="wrap">
<div class="content-sidebar-wrap">
<main class="content">
<article class="post- type-post status-publish format-standard entry has-post-thumbnail">
<header class="entry-header"><h1 class="entry-title" style="
    text-align: center;
    padding: 10px;
    background: #fff;
    margin-top: 40px;
">{{"Page not found."|t}}</h1>
</header>

</article></main></div></div></div>

{% endblock %}

{% block script %}

{% endblock %}